:root {
    --pb-custom-window-main-color: white;
    --pb-custom-window-title-color: black;
    --pb-custom-window-background-color: white;
    --pb-custom-window-close-control-color: firebrick;
    --pb-custom-window-controls-color: rgba(0,0,0,.25); /* rgba(255,255,255,.25); */
    --pb-custom-window-controls-color-hover: rgba(0,0,0,.5); /* rgba(255,255,255,.5); */
}

.pb-custom-window {
    background-color: var(--pb-custom-window-main-color);
}

    .pb-custom-window > * {
        position: absolute;
    }

.pb-custom-window-header {
    display: grid;
    grid-template-columns: 1fr auto auto; /* main, extra controls, controls */
    overflow: hidden;
    font-size: calc(var(--pb-custom-window-header-height) / 2);
}

    .pb-custom-window-header > div {
        height: 100%;
        overflow: hidden;
    }

.pb-custom-window-icon {
}

.pb-custom-window-title {
    color: var(--pb-custom-window-title-color);
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
    line-height: 1.5;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.pb-custom-window-control-buttons {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 3px;
    margin: 0 3px;
}

.pb-custom-window-control-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--pb-custom-window-header-height) - 6px);
    background-color: var(--pb-custom-window-controls-color);
    aspect-ratio: 1;
    border-radius: 3px;
    border: none;
    padding: 0;
    transition: 0.1s;
}

    .pb-custom-window-control-button:hover {
        background-color: var(--pb-custom-window-controls-color-hover);
    }

    .pb-custom-window-control-button:focus {
        outline: none;
    }

    .pb-custom-window-control-button > svg {
        fill: white;
    }

    .pb-custom-window-control-button > img {
        height: 100%;
    }

.pb-custom-window-close-button {
    background-color: var(--pb-custom-window-close-control-color);
}
